services:
  web:
    image: php:8.2-apache
    container_name: php-apache
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    command: >
      bash -c "docker-php-ext-install pdo pdo_mysql mysqli &&
               apache2-foreground"
